<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <div class="profile">
    <div class="caption">
        <h1 class="text-center">rides that safer</h1>
        <a href="/adminuserview"><button class="btn btn-primary">user view</button></a>
       <a href="admindriverview"> <button class="btn btn-success">driver view</button></a>
       <a href="/adminbookview" > <button class="btn btn-danger" >book view</button></a>
       
    </div>
</div>
</body>
</html>
