<h1 class="text-center">book you ride</h1>
<div class="container-fluid">
    <form method="post">

        <div class="col-sm-9 offset-sm-3">

            <div class="row">

                <label for="pickup">pickup</label>
                <input type="text" name="pickup" class="form-control">

            </div>
            <div class="row">

                <label for="destination">destination</label>
                <input type="text" name="destination" class="form-control">

            </div>
            <div class="row">

                <label for="ridetype"> ridetype</label>
                <select name="type" class="form-control">
                    <option>sharecab</option>
                    <option>roundtrip</option>
                    <option>outstation</option>
                </select>

            </div>
            <div class="row">
                <label for="destination">phone</label>
                <input type="text" name="phone" class="form-control">
            </div>

            <div class="row">

                <label for="time">time</label>
                <input type="time" name="time" class="form-control">
            </div>


            <div class="row">
                <button class="btn btn-success " type="submit">BOOK RIDE</button>
            </div>
        </div>
</div>

</form>
<div>
    <a name="" id="" class="btn btn-primary" href="/cancel" role="button">cancel</a>
</div>
</div>