<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <div class="profile">
    <div class="caption">
        <h1 class="text-center">rides that safer</h1>
        <h3 style="position: absolute;position: absolute;
    top: 10pc;">welcome {{data.dataValues.name}}</h3>
        <a href="/viewbooking"><button class="btn btn-primary">view bookingcab</button></a>
       <a href="/driverupdate"> <button class="btn btn-success">update profile</button></a>
       <a href="/deletedriver" > <button class="btn btn-danger" onclick=alert ("are you sure to delete this account")>delete profile</button></a>
    </div>
</div>
</body>
</html>
