<main>
  {{>navbar1}}
  
  <div class="mainpart">

    <div class="text-center col align-items-center" style="color:white" >
      <h1 ><b class = "hero">Book a City Taxi to your destination in town</b></h1>
      <h4>Choose from a range of categories and prices</h4>
    </div>

  </div>




<div class="main-down">

  <h1 class="text-center">Global mobility ecosystem driving communities forward</h1>
  <div class="ride">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ola-prod-website/ride-budget.svg
" alt="">
          <h3>For any budget</h3>

          <p></p> Bikes and Autos to Prime Sedans and Prime SUVs, you will find a ride in your budget at your
          convenience any time.</p>
        </div>
        <div class="col">
          <img src="https://s3-ap-southeast-1.amazonaws.com/ola-prod-website/ride-distance.svg" alt="">
          <h3>For any distance</h3>
          <p>Book rides within the city with Daily, or take a trip to your favourite destinations outside the city with
            Outstation.</p>
        </div>
        <div class="col">
          <img src="	https://s3-ap-southeast-1.amazonaws.com/ola-prod-website/ride-duration.svg" alt="">
          <h3>For any duration</h3>
          <p>Easily plan a day out without having to worry about conveyance with an hour-based package from Rental.
          </p>

        </div>
      </div>
    </div>
  </div>
</div>
</main>