<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\lib\bootstrap\css\fare.css">
</head>
<body>
    <div class="container-fluid">
    <div class="fare">
        <h1 style="text-success" style="position:absolute;
    top: 14pc;
    left: 30pc;">{{data.dataValues.fare}}₹</h1>

    </div>
   <a href="/rideconfirmation"><button class="btn btn-success ml-4">continue</button></a> 
</div>
</body>
</html>