<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    <div class="profile">
    <div class="caption">
        <h1 class="text-center">rides that safer</h1>
        <a href="/bookcab"><button class="btn btn-primary">book cab</button></a>
       <a href="updateuser"> <button class="btn btn-success">update profile</button></a>
       <a href="/deleteuser" > <button class="btn btn-danger" onclick=alert ("are you sure to delete this account")>delete profile</button></a>
    </div>
</div>
</body>
</html>
