<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
</head>
<body>
    {{>navbarprofile}}
    <div class="profileparent">
      <pre><h2 style="
    position: absolute;
    top: 16pc;
    left: 16pc;">
    welcome back  {{data.dataValues.firstName}}</h2></pre>
        </div>  
          <div class="container-fluid">
            
     <h1 class="text-center text-dark">rides that make day easy</h1>
    <h4 class="text-center ms-4 mt-3">Book the rides you need</h4> 
    </div>

    <div class="container ">
  <div class="row" style="position:absolute;top:23pc;left:7pc">

    <div class="col">
            <a href="/bookcab/:id">      <img src="https://s3-ap-southeast-1.amazonaws.com/ola-prod-website/ride-distance.svg" alt="">
                <h3>sharecab</h3></a>

    </div>
    <div class="col">
       <a href="/bookcab/:id">       <img src="	https://s3-ap-southeast-1.amazonaws.com/ola-prod-website/ride-duration.svg" alt="">
            <h3>cityride</h3></a>  
    </div>
    <div class="col">
                <a href="/outstationdrivers"> <img src="https://s3-ap-southeast-1.amazonaws.com/ola-prod-website/ride-budget.svg">
                <h3>Outstation</h3></a>

    </div>
  </div>
</div>
    

</body>
</html>
